{% extends '::candidate.html.twig' %}

{% block id 'gatbpart3sp' %}
{% block title %}Prueba 3 Gatb {% endblock %}

{% block article %}

<div id="wrap">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 content">
                <!--<h2>{{ block('title') }}</h2>-->
                <div class="row-fluid">
                    <table class="record_properties">
                        <tbody>
                            <tr>
                                <th class="span3">Evaluado :</th>
                                <td class="span4">{{ entity.gatbSP }}.</td>
                            </tr>
                            <tr>
                                <th class="span3">Test Finalizado :</th>
                                <td class="span4">{{ entity.gatbPart3 }}.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row-fluid">
                    <center>
                        <h2>PARTE 4</h2>
                        <h3>INSTRUCCIONES</h3>
                    </center>
                    <br>
                    <div class="row-fluid">
                        <div class="span2">
                        </div>
                        <div class="span9" STYLE="font-family: Arial; font-size: 18px; color: black">
                            En esta página hay algunos ejercicios que consisten en buscar las dos palabras que tengan sentidos IGUALES U OPUESTOS.
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row-fluid">
                        <div class="span2">
                        </div>
                        <div class="span9" STYLE="font-family: Arial; font-size: 18px; color: black">
                            <strong>
                                Observe el ejercicio 1.
                            </strong>
                        </div>
                    </div>
                    <br>
                    <div class="row-fluid">
                        <div class="span2">
                        </div>
                        <div class="span9" STYLE="font-family: Arial; font-size: 18px; color: black">
                            <div class="span2">
                                1.
                            </div>
                            <div class="span2">
                                a. grande
                            </div>
                            <div class="span2">
                                b. enorme
                            </div>
                            <div class="span2">
                                c. seco
                            </div>
                            <div class="span2">
                                d. despacio
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row-fluid">
                        <div class="span2">
                        </div>
                        <div class="span9" STYLE="font-family: Arial; font-size: 18px; color: black">
                            <!--
                            <strong>GRANDE Y ENORME</strong>, 
                            tienen el 
                            <strong>MISMO </strong>
                            sentido. La letra para grande es 
                            <strong>a </strong>
                            y la letra para enorme es la 
                            <strong>b</strong>
                            . Ahora gire su hoja de respuestas y mire la parte de la hoja que dice Parte 4 Práctica. Observe en la fila para ejercicio de práctica 1 el espacio bajo la letra a-b ha sido marcado.
                            -->
                            
                            <strong>GRANDE Y ENORME</strong>, 
                            tienen el 
                            <strong>MISMO </strong> 
                            sentido. La letra para grande es <strong>a </strong> y la letra para enorme es la <strong>b</strong> . 
                            Ahora la respuesta a la pregunta sería "respuestas a-b".
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row-fluid">
                        <div class="span2">
                        </div>
                        <div class="span9" STYLE="font-family: Arial; font-size: 18px; color: black">
                            <strong>
                                Ahora observe el ejercicio 2.
                            </strong>
                        </div>
                    </div>
                    <br>
                    <div class="row-fluid">
                        <div class="span2">
                        </div>
                        <div class="span9" STYLE="font-family: Arial; font-size: 18px; color: black">
                            <div class="span2">
                                2.
                            </div>
                            <div class="span2">
                                a. triste
                            </div>
                            <div class="span2">
                                b. leal
                            </div>
                            <div class="span2">
                                c. antiguo
                            </div>
                            <div class="span2">
                                d. desleal
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row-fluid">
                        <div class="span2">
                        </div>
                        <div class="span9" STYLE="font-family: Arial; font-size: 18px; color: black">
                            <!--
                            <strong>LEAL y DESLEAL</strong>, 
                            tienen significados 
                            <strong>OPUESTOS</strong>. 
                            La letra leal es la 
                            <strong>b </strong>
                            y la letra para desleal es la 
                            <strong>d</strong>
                             Por eso se a marcado el espacio bajo las letras b-d en la fila para ejercicio de Practica 2 en la hoja de respuestas.
                             -->
                             
                             <strong>LEAL y DESLEAL</strong>, 
                             tienen significados 
                             <strong>OPUESTOS</strong>. 
                             La letra leal es la <strong>b </strong> y la letra para desleal es la <strong>d</strong> 
                             Por eso la respuesta a la pregunta sería "respuestas  b-d".
                        </div>
                    </div>
                    <br>
                    
                    <div class="row-fluid">
                        <div class="span2">
                        </div>
                        <div class="span9" STYLE="font-family: Arial; font-size: 18px; color: black">
                            <!--
                            Aquí hay algunos ejercicios de práctica. En cada ejercicio busque las dos palabras que tengan significados 
                            <strong>IGUALES</strong> o significados 
                            <strong>OPUESTOS</strong>. 
                            Después marque el espacio bajo la combinación de letras que corresponden en la hoja de respuesta para la 
                            <strong>Parte 4 Práctica</strong>. 
                            No haga marcas en este libro. Haga marcas claras en los espacios de respuestas.
                            -->
                            
                            Aquí hay algunos ejercicios de práctica. En cada ejercicio busque las dos palabras que tengan significados 
                            <strong>IGUALES</strong> o significados 
                            <strong>OPUESTOS</strong>. 
                        </div>
                    </div>
                    <br>
                    <div class="row-fluid">
                        <div class="span2">
                        </div>
                        <div class="span9" STYLE="font-family: Arial; font-size: 18px; color: black">
                            <div class="span2">
                                3.
                            </div>
                            <div class="span2">
                                a. suave
                            </div>
                            <div class="span2">
                                b. correcto
                            </div>
                            <div class="span2">
                                c. equivocado
                            </div>
                            <div class="span2">
                                d. similar
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row-fluid">
                        <div class="span2">
                        </div>
                        <div class="span9" STYLE="font-family: Arial; font-size: 18px; color: black">
                            <div class="span2">
                                4.
                            </div>
                            <div class="span2">
                                a. abierto
                            </div>
                            <div class="span2">
                                b. caer
                            </div>
                            <div class="span2">
                                c. comenzar
                            </div>
                            <div class="span2">
                                d. terminar
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row-fluid">
                        <div class="span2">
                        </div>
                        <div class="span9" STYLE="font-family: Arial; font-size: 18px; color: black">
                            <div class="span2">
                                5.
                            </div>
                            <div class="span2">
                                a. entretenido
                            </div>
                            <div class="span2">
                                b. menudo
                            </div>
                            <div class="span2">
                                c. torpe
                            </div>
                            <div class="span2">
                                d. gracioso
                            </div>
                        </div>
                    </div>
                    
                    <br>
                    <div class="row-fluid">
                        <div class="span2">
                        </div>
                        <div class="span9">
                            <ul class="record_actions">
                                <li>
                                    <a href="{{ path('test_gatb_part4_sp_new', { 'idgatbsp': entity.gatbSP.id }) }}">
                                        Empezar Prueba 4
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
