{% extends '::consultor.html.twig' %}
{% block id 'rolfunction' %}
{% block title %}Registro de funciones a realizar{% endblock %}

{% block article %}

<div id="wrap">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 content">
                <h2>{{ block('title') }}</h2>
                <br>
                <div class="row-fluid">
                    {{ form(form, { 'action': path('rol_function_create') }) }}
                </div>
                <!--
                <ul class="record_actions">
                    <li>
                        <a href="{{ path('rol_homepage') }}">
                            Volver al listado
                        </a>
                    </li>
                </ul>
                -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
