{% extends '::base.html.twig' %}

{% block body %}
<header>
    <div class="row-fluid">
        <div class="span12 nav-m" >
            <div class="row-fluid">
            </div>
        </div>
    </div>
</header>
<article>
    {% block article %}{% endblock %}
</article>
<aside>
    {% block aside %}{% endblock %}
</aside>
{% endblock %}
