
{% extends '::candidate.html.twig' %}

{% block title %}Ingreso{% endblock %}
{% block id 'usuario' %}

{% block article %}



	<div id="wrap">
		<div class="container-fluid">	
			<div class="row-fluid">
				<div class="span12">
					<!--<div class="container">	-->
						<div class="row-fluid">
														
						</div>

						<div class="row-fluid">
							<div class="span12">

								<div class="row-fluid">
                                
                                	<div id="textohome">
                                    Personas unidas bajo un mismo objetivo<br>
									que se mueven de acuerdo al mercado y<br>
                                    a c칩mo est치 el mundo de las<br>
                                    organizaciones... siempre en movimiento.<br><br>
                                    Bienvenido a Jaxxes,<br>
                                    al ritmo de las organizaciones.<br>
                                    </div>
									<div class="span12 slider principal" >
										<!--border:5px solid #FFFFFF;box-shadow:0 0 5px #CCCCCC;padding-top:0px -->

										<form  class="frmlogin"   action="{{ path('candidate_login_check') }}" method="post" >
											{% if error %}
												{# <div>{{ error.message }}</div> 
												{# <div>{{ error.message|trans({}, 'security') }}</div> #}
											{% endif %}
		
											<input type="text" id="username" name="_username"  class="userName input-block-level frmfield"   value="{{ last_username | default('') }}" placeholder="Usuario" />
		
											<input type="password" id="password" name="_password" class="userKey input-block-level frmfield"   placeholder="Contrase침a" />
		
											<input type="submit" name="login" class="btnlogin btn-success"  value="Acceder" />
		
											{#
												<input type="checkbox" id="remember_me" name="_remember_me" checked />
												<label for="remember_me">No cerrar sesi칩n</label>
																							
											    <input type="hidden" name="_target_path" value="candidate_bienvenida" />	
											#}											
										</form>
									</div>
								</div>
							</div>	
						</div>
					<!--</div>-->
				</div>		
			</div>			
		</div>
		<div id="push"></div>
	</div>


{% endblock %}

{% block aside %}{% endblock %}
