{% extends '::candidate.html.twig' %}

{% block id 'gatbpart1sp' %}
{% block title %}Prueba 1 Gatb {% endblock %}

{% block article %}

<div id="wrap">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 content">
                <!--<h2>{{ block('title') }}</h2>-->
                <div class="row-fluid">
                    <table class="record_properties">
                        <tbody>
                            <tr>
                                <th class="span3">Evaluado :</th>
                                <td class="span4">{{ entity.gatbSP }}.</td>
                            </tr>
                            <tr>
                                <th class="span3">Test Finalizado :</th>
                                <td class="span4">{{ entity.gatbPart1 }}.</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                
                <div class="row-fluid">
                    <center>
                        <h2>PARTE 2</h2>
                        <h3>INSTRUCCIONES</h3>
                    </center>
                    <table class="record_properties">
                        <tbody>
                            <tr>
                                <td class="span2"></td>
                                <td class="span4">
                                    En esta página hay algunos ejercicios de aritmética
                                </td>
                                <td class="span1"></td>
                                <td class="span2"></td>
                                <td class="span5">
                                </td>
                            </tr>
                            <tr>
                                <td class="span2"></td>
                                <td class="span4">
                                    <br>
                                    Observe el <strong>ejercicio 1</strong>
                                    
                                </td>
                                <td class="span1"></td>
                                <td class="span2"></td>
                                <td class="span5">
                                    <strong>
                                        Alternativas
                                    </strong>
                                </td>
                            </tr>
                            <tr>
                                <td class="span2"></td>
                                <td class="span4">
                                    <br>
                                    <!--
                                    En el ejercicio 1, la respuesta correcta es 5. <br>
                                    En la columna de respuestas para el ejercicio 1 la letra al lado del 5 es C. 
                                    Ahora mire a la parte de la hoja de respuestas que dice Parte 2 Práctica. 
                                    Observe que en la fila para el ejercicio de la práctica 1, el espacio bajo la letra C ha sido marcado.
                                    -->
                                    Para el ejercicio, resuelva la operación matemática señala para el ejercicio, en este caso de realizar la resta, en la columna de "Respuestas" la letra al lado del 5 es C. Ahora en la sección "RESPUESTA" deberá seleccionar la alternativa con la letra que corresponde a la respuesta, para el ejemplo será: "Respuesta C"
                                </td>
                                <td class="span1"></td>
                                <td class="span2">
                                    <strong>
                                        1. RESTE ( - )
                                    </strong>
                                    <br>
                                    <center>
                                        9
                                        <br>
                                        4
                                        <br>
                                        _
                                    </center>
                                </td>
                                <td class="span5">
                                    A 2<br>
                                    B 3<br>
                                    C 5<br>
                                    D 9<br>
                                    E ninguna de éstas
                                    <br>
                                    <br>
                                    <strong>
                                        Respuesta C
                                    </strong>
                                </td>
                            </tr>
                            <tr>
                                <td class="span2"></td>
                                <td class="span4">
                                    <br>
                                    Observe el <strong>ejercicio 2</strong>
                                </td>
                                <td class="span1"></td>
                                <td class="span2"></td>
                                <td class="span5">
                                </td>
                            </tr>
                            <tr>
                                <td class="span2"></td>
                                <td class="span4">
                                    <br>
                                    <!--
                                    En el ejercicio 2 la respuesta correcta es 6. <br>
                                    Seis no figura en la columna de respuestas. Por eso la letra E es la respuesta correcta. Observe que en la hoja de respuestas, el espacio bajo la letra E ha sido marcado en la fila para ejercicio de práctica 2 para indicar que ninguna de las respuestas dadas es correcta.
                                    -->
                                    Para el ejercicio, resuelva la operación matemática señala para el ejercicio, en este caso de realizar la suma, en la columna de "Respuestas" la respuesta es 6. Ahora en la sección "RESPUESTA" deberá seleccionar la alternativa con la letra que corresponde a la respuesta, para el ejemplo será: "Respuesta E"
                                </td>
                                <td class="span1"></td>
                                <td class="span2">
                                    <strong>
                                        2. SUME ( + )
                                    </strong>
                                    <br>
                                    <center>
                                        2
                                        <br>
                                        4
                                        <br>
                                        _
                                    </center>
                                </td>
                                <td class="span5">
                                    A 2<br>
                                    B 3<br>
                                    C 4<br>
                                    D 5<br>
                                    E ninguna de éstas
                                    <br>
                                    <br>
                                    <strong>
                                        Respuesta E
                                    </strong>
                                </td>
                            </tr>
                            <tr>
                                <td class="span2"></td>
                                <td class="span4">
                                </td>
                                <td class="span1"></td>
                                <td class="span2"></td>
                                <td class="span5">
                                </td>
                            </tr>
                            
                            <tr>
                                <td class="span2"></td>
                                <td class="span4">
                                    <br>
                                    <ul class="record_actions">
                                        <li>
                                            <a href="{{ path('test_gatb_part2_sp_new', { 'idgatbsp': entity.gatbSP.id }) }}">
                                                Empezar Prueba 2
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                                <td class="span1"></td>
                                <td class="span2">
                                </td>
                                <td class="span5">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
