{% extends '::candidate.html.twig' %}

{% block title %}Acceso Denegado{% endblock %}

{% block article %}

<h1><p><strong>EKA - JAXXES</strong></p></h1>

Usuario o contraseña incorrecta, verifique la información enviada por correo y vuelta a intentarlo

{% endblock %}
